@import "variaveis";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  height: 250px;
  position: relative;
  overflow: hidden;
  background-color: $preto-transp-9;

  .artista {
    position: absolute;
    padding: 6% 1%;
    justify-content: start;
    margin-left: 30%;
    max-width: 60%;
  }

  .image {
    height: 250px;
    width: 330px;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
  }

  span {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    padding: 8px 0px;
    color: $branco;

    &.genero {
      text-transform: uppercase;
      font-size: 15px;
      color: $branco;
    }
  }
}
