@import "variaveis";

.card {
  height: 250px;
  position: relative;
  overflow: hidden;
  background-color: $preto-transp-9;

  .artista {
    position: absolute;
    padding: 6% 0% 0% 0%;
    justify-content: start;
    margin-left: 35%;
    max-width: 60%;
  }

  .image {
    height: 250px;
    width: 330px;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
  }

  span {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    padding-right: 5px;
    color: $branco;

    &.genero {
      text-transform: uppercase;
      color: $branco;
    }
  }
}
