@import "variaveis";

.card {
  height: 250px;
  position: relative;
  overflow: hidden;
  background-color: $preto-transp-9;

  .artista {
    position: absolute;
    z-index: 1;
    padding: 10% 0% 0% 0%;
    justify-content: start;
    margin-left: 35%;
    max-width: 60%;
  }

  .image {
    background-size: cover;
    position: absolute;
    height: 250px;
    width: 330px;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }

  span {
    color: $branco;
  }
}
