<div class="container card p-10">
  <div
    class="image"
    [style.background-image]="'url(' + musica.album.imagemUrl + ')'"
  >
  <div class="teste" *ngIf="!musica.album.imagemUrl.length">
    <p>nenhuma música tocando <br> no momento</p>
    <i class="bi bi-vinyl-fill"></i>
  </div>
</div>

  <div class="controles">
    <span class="nomeMusica">{{ musica.titulo }}</span> <br />
    <span>{{ obterArtistas(musica) }}</span>

    <div class="botoes">
      <i class="bi bi-skip-start-fill" (click)="proximaMusica()"></i>
      <i [class]="play" id="text" (click)="trocarIcon()"></i>
      <i class="bi bi-skip-end-fill" (click)="voltarMusica()"></i>
    </div>
  </div>
</div>
