@import "variaveis";

.card {
  height: 250px;
  position: relative;
  overflow: hidden;
  margin: 5px;
  margin-bottom: 40px;
  background-color: $preto-transp-9;

  .artista {
    position: absolute;
    z-index: 1;
    padding: 10% 1% 0% 0%;
    justify-content: start;
    margin-left: 30%;
  }

  .image {

    height: 250px;
    width: 330px;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }

  span {
    color: $yellowgreen;
  }
}
