@import "variaveis";
@import "table";
@import "mat-theme";

:host {
  display: flex;
  justify-content: space-between;
  background-color: $preto-transp-9;

  ::-webkit-scrollbar {
    width: 7px;

    &-thumb {
      border-radius: 10px;
    }

    &-track {
      background: transparent;
    }
  }

  .bi-pause-fill{
    font-size: 40px;
    color: white;
  }

  .minhas-musicas {
    padding: 0px 50px;
    padding-bottom: 20px;
    width: 100%;
    max-height: 100vh;
    overflow-y: scroll;
  }

  .d-block {
    display: block;
  }

  .painel-direito {
    height: 100vh;
  }
}
