@import 'table';
@import 'variaveis';

:host{
  display: flex;
  justify-content: space-between;
  background-color:$preto-transp-9;
  
  ::-webkit-scrollbar {
    width: 7px;

    &-thumb {
      border-radius: 10px;
    }

    &-track {
      background: transparent;
    }
  }

  .painel-direito {
    height: 100vh;
  }

  .lista {
    padding: 0px 50px;
    width: 100%;
    padding-bottom: 20px;
    max-height: 100%;
    overflow-y: scroll;
  }
}
