@import "~bootstrap-icons/font/bootstrap-icons.css";

$cor-fundo: rgba(0, 0, 0, 0.705);
$cor-primaria: #f3f3df;
$cor-fundo-menu: rgba(0, 0, 0, 0.836);
$preto-transp-30: #00004d5d;
$preto-transp-9: #1e1e4e9f;
$yellowgreen: yellowgreen;
$branco: #fff;

$h-spotify-logo: 120px;
$h-menu-opcoes: 150px;
$h-footer-user: 70px;

$m-entre-menu: 10px;

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: $yellowgreen;
  border-radius: 30px;
}
