@import "variaveis";

:host {
  max-width: 300px;
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  background-color: $cor-fundo-menu;
  box-shadow: 1px 1px 15px #0101115d;

  .menu {
    flex: 1;
    flex-direction: column;
    height: 100%;
    padding: 0px 40px 0px 40px;
  }

  .image-container {
    min-height: $h-spotify-logo;

    img {
      width: 70%;
    }
  }

  .menu-container {
    width: 100%;

    &.opcoes {
      flex-direction: column;

      min-height: $h-menu-opcoes;

      * {
        margin-bottom: $m-entre-menu;
        flex-direction: column;
      }
    }
  }
}
